.pokemons_list_container {
  width: 50%;
  height: 600px;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  background-color: rgb(170, 170, 140);
  border-radius: 10px;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  overflow: auto;
}

.pokedex-container {
  border: solid 5px rgb(58, 32, 32);
  width: 50%;
  height: 600px;
  display: flex;
  align-items: center;
  margin: 10px;
  border-radius: 10px;
  padding: 16px;
  background-color: rgb(43, 162, 184);
  flex-direction: column;
}

.buttons_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 50px;
  margin: 10px;
}

.previous_button {
  font-size: 25px;
  border: none;
  background-color: rgb(43, 162, 184);
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  display: flex;
  box-shadow: 0 5px 5px rgb(0, 0, 0, 0.5);
}

.next_button {
  font-size: 25px;
  border: none;
  background-color: rgb(43, 162, 184);
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  display: flex;
  margin-left: 10px;
  box-shadow: 0 5px 5px rgb(0, 0, 0, 0.5);
  width: 67.38px;
  justify-content: center;
}

::-webkit-scrollbar {
  background-color: rgb(170, 170, 140);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 0px;
}
