.pokemon_sprite {
  height: 300px;
  margin: 20px;
  width: 250px;
  display: flex;
}

.pokemon_name {
  font-size: 50px;
  display: flex;
  width: 200px;
  text-transform: uppercase;
}

.pokemons_type {
  display: flex;
  flex-direction: column;
  background-color: #e83e3e;
  padding: 10px;
  height: 150px;
  width: 100px;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgb(0, 0, 0, 0.5);
}

.details_container {
  display: flex;
  border-radius: 10px;
  padding: 20px;
  height: 300px;
  width: 500px;
  justify-content: space-between;
}

.info_cards {
  display: flex;
  flex-direction: row;
  height: 300px;
  width: 400px;
}

.abilities_card {
  width: 150px;
  height: 200px;
  display: flex;
  align-self: flex-start;
  margin: 20px;
  background-color: rgb(189, 156, 116);
  border-radius: 10px;
  padding: 20px;
  flex-direction: column;
  box-shadow: 0 5px 5px rgb(0, 0, 0, 0.5);
}

.stats_card {
  width: 150px;
  height: 200px;
  display: flex;
  align-self: flex-end;
  margin: 20px;
  background-color: rgb(189, 156, 116);
  border-radius: 10px;
  padding: 20px;
  flex-direction: column;
  box-shadow: 0 5px 5px rgb(0, 0, 0, 0.5);
}

.stats_size {
  font-size: 19px;
}
